body {
    background-color: #f0f0f2;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.Box {
    margin: 20px;
}

.Question {
    margin: 20px;
}

.Submit {
    margin: 20px;
}
